:root {
    --dark-clr: #000000;
    --second-dark-clr: #143c62;
    --text-clr: #eaeaeade;
    --text-clr2: black;
    --light-text-clr:#85baff;
    --global-clr: #004585;
    --btn-clr: #80b5ff;
}

#mon {
   margin: 50px;
   justify-content: center;
   text-align: center;
   padding: 25px;
}

#mon h2{
    color: var(--light-text-clr);
    margin-top: 25px;
    font-size:xx-large;

}

#mon p{
    font-size: x-large;
}