:root {
    --dark-clr: #000000;
    --second-dark-clr: #143c62;
    --text-clr: #eaeaeade;
    --text-clr2: black;
    --light-text-clr:#85baff;
    --global-clr: #004585;
    --btn-clr: #80b5ff;
}

#mon {
   margin: 50px;
   text-align: center;
   padding: 25px;
}

#mon h2{
    color: var(--light-text-clr);
    margin-top: 25px;
    font-size:x-large;

}

#mon p{
    font-size: 1rem;
}

@media(max-width:600px){
    body{
        height: 100vh;
    }
    #mon{
        margin: 0px;
        padding: 10px;
       
    }
    main{
        height:80%;
    }
}