@font-face {
    font-family: "DMSerifText-Regular" ;
    src: url(../DMSerifText-Regular.ttf);
}

:root {
    --dark-clr: #000000;
    --second-dark-clr: #143c62;
    --text-clr: #eaeaeade;
    --text-clr2: black;
    --light-text-clr:#85baff;
    --global-clr: #004585;
    --btn-clr: #80b5ff;
}

*{
    margin: 0;
    padding:0;
    text-decoration: none;
    
}

body{
    font-family: "DMSerifText-Regular";
    background: rgb(14, 25, 47);
    background-size: cover;
    color: var(--text-clr);
    line-height: 1,3;

}

header{
    background-color: var(--text-clr);
    box-shadow: 0 0 20px rgb(255, 255, 255);
}
.accueil{
    display: flex;
    transition: 0.7s ;
    border-radius: 10px;
}

.accueil:hover{
    box-shadow :0 0 25px var(--global-clr);
    background-color: var(--btn-clr);
    transform: scale(1.1);
    
}

.navigation{
    display:flex;
    justify-content: space-between;
    padding: 1em;
    flex-direction:row;
    flex-wrap: wrap;
}

.c{
    font-size: 2rem;
    color: var(--text-clr2);
}

.c span{
    color: var(--light-text-clr);
}

.navigation ul{
    display: flex;
    list-style:none;
}

.navigation ul li a {
    font-size: 1rem;
    font-weight: 700;
    color:black;
    padding: 1em;
    margin:0.2em;
}

.b{
    font-size: 1rem;
    font-weight: 600;
    background: var(--btn-clr);
    color: var(--dark-clr);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em var(--second-dark-clr);
    transition: 0.7s;
}

.b:hover{
    box-shadow:0 0 1.5em var(--second-dark-clr);
    transform: scale(1.1);
}

.y {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 4%;
}

.w img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: #0c2033 solid 5px;
    
    transition: 0.7s;
    box-shadow: 0 0 30px rgba(205, 210, 255, 0.798)
}

.w img:hover{
    box-shadow: 0 0 50px rgba(205, 210, 255, 0.798);
    transform: scale(1.1);
}



.k h2 span{
    color: var(--light-text-clr);
}

main{
    height: 100%;
    min-height:76vh;
}

@media(max-width:750px){
    .y{
        margin: 5%;
    }
    .k{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .b{
        width:13%;
        font-size: 0.6rem;
        height: 30px;
    }
    .navigation ul{
        width: 61%;
    }
    .navigation ul li a {
        font-size: 0.65rem;
        width: 3.5em;
        height: 20px;
        
    }
    .c{
        font-size: 1.5rem;
        width:20%
    }
}

