/*importation de la police*/
@font-face {
    font-family: "DMSerifText-Regular" ;
    src: url(../DMSerifText-Regular.ttf);
}

/*initialisation des couleur pour les utiliser en attribuant a chaque variable une couleur*/
:root {
    --Noir: #000000;
    --bleu-fonce: #143c62;
    --text-clr: #eaeaeade;
    --light-text-clr:#85baff;
    --global-clr: #004585;
    --btn-clr: #80b5ff;
}

/*reset global.....enleve le soulignement des textes par defaut(pour le none)*/
*{
    margin: 0;
    padding:0;
    text-decoration: none;  
}

body{
    font-family: "DMSerifText-Regular";
    background: url(../image/ciel.png) center ;
    background-color: #1d293a;
    background-size: cover;
    color: var(--text-clr);
    min-height: 100vh;
}

header{
    background-color: var(--text-clr);
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

.accueil{
    display: flex;
    transition: 0.7s ;
    border-radius: 10px;
}

.accueil:hover{
    box-shadow :0 0 25px var(--global-clr);
    background-color: var(--btn-clr);
    transform: scale(1.1);
    
}

.navigation{
    display:flex;
    justify-content: space-between;
    padding: 1em;
    flex-direction:row;
    flex-wrap: wrap;
}

.c{
    font-size: 2rem;
    color: var(--Noir);
}

.c span{
    color: var(--light-text-clr);
}

.navigation ul{
    display: flex;
    list-style:none;
}

.navigation ul li a {
    font-size: 1rem;
    font-weight: 700;
    color:black;
    padding: 1em;
    margin:0.2em;
}

.b{
    font-size: 1rem;
    font-weight: 600;
    background: var(--btn-clr);
    color: var(--Noir);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em var(--bleu-fonce);
    transition: 0.7s;
}

.b:hover{
    box-shadow:0 0 1.5em var(--bleu-fonce);
    transform: scale(1.1);
}

#princip{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    align-items: center;
    height: 5em;
    background-color: #151d2ad5 ;
    border: #000000 1.5px solid;
}

.y {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 4%;
    margin-bottom: 10em;
    font-size: 1.25rem;
    background-color: #151d2ad5 ;
    width: 70%;
    padding: 1em;
    border-radius: 30px;
    transition: 0.4s;
}
.y:hover{
    transform: scale(1.03);
    box-shadow: 0 0 1em var(--bleu-fonce);
}

.w img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: #0c2033 solid 5px;
    transition: 0.7s;
    box-shadow: 0 0 30px var(--bleu-fonce);
}

.w img:hover{
    box-shadow: 0 0 50px var(--bleu-fonce);
    transform: scale(1.1);
}

.k{
    max-width: 60%;
}

.k h2 span{
    color: var(--light-text-clr);
}

@media(max-width:750px){
    .y{
        margin: 5%;
    }

    .k{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: none;
    }

    .b{
        display: none; 
    }

    .navigation ul{
        width: 75%;
        display: flex;
        justify-content: space-between;
    }
    .navigation ul li a {
        font-size: 0.8rem;
        height: 20px;  
    }
    .c{
        font-size: 1.5rem;
        width:20%
    }

    .navigation{
        padding: 0.3em;
    }

    .w img{
        height: 150px;
        width: 150px;
    }
}


