@font-face {
    font-family: "DMSerifText-Regular" ;
    src: url(../DMSerifText-Regular.ttf);
}

:root {
    --dark-clr: #000000;
    --second-dark-clr: #143c62;
    --text-clr: #eaeaeade;
    --text-clr2: black;
    --light-text-clr:#85baff;
    --global-clr: #004585;
    --btn-clr: #80b5ff;
}

*{
    margin: 0;
    padding:0;
    text-decoration: none;
    
}

body{
    font-family: "DMSerifText-Regular";
    background: url(../image/ciel.png) center no-repeat ;
    background-size: cover;
    color: var(--text-clr);
    line-height: 1,3;
    
}


header{
    width: 100%;
    background-color: var(--text-clr);
    height: 7em;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    height: 100%;
    
}
.accueil{
    display: flex;
    transition: 0.7s ;
    border-radius: 10px;
}
.accueil:hover{
    box-shadow :0 0 25px var(--global-clr);
    background-color: var(--btn-clr);
    transform: scale(1.1);
    
}

.navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10%;
    flex-direction:row;
    
}

header .navigation{
    flex-wrap: wrap;
    gap: 30px;
}

.c{
    position: relative;
    font-size: 3rem;
    font-weight: normal;
    color: var(--text-clr2);
}

.c span{
    color: var(--light-text-clr);
}

.navigation ul{
    display: flex;
    gap: 1px;
    list-style:none;
    position: relative;
}

header .navigation ul li{
    position: relative;
    margin-right: 0em;
}

.navigation ul li a {
    position: relative;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 1em;
    color:black;
    padding: 1.25em;
    margin: 0.1em;
}


.b{
    position:relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-size: 1rem;
    font-weight: 600;
    background: var(--btn-clr);
    color: var(--dark-clr);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em var(--second-dark-clr);
    transition: 0.7s;
}

.b:hover{
    box-shadow: 0 0 0.5em var(--second-dark-clr),
                0 0 1em var(--second-dark-clr),
                0 0 1.5em var(--second-dark-clr);
    transform: scale(1.1);
}

section{
    padding: 2%;
}



.y {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 25px;
}

.w img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: #0c2033 solid 5px;
    
    transition: 0.7s;
    box-shadow: 0 0 30px rgba(205, 210, 255, 0.798)
}
.w img:hover{
    box-shadow: 0 0 15px rgba(205, 210, 255, 0.798),
                0 0 25px rgba(205, 210, 255, 0.798),
                0 0 50px rgba(205, 210, 255, 0.798);
    transform: scale(1.1);
}
.k{
    max-width: 50%;
    font-size: 1rem;
}


.k h2 span{
    color: var(--light-text-clr);
}

.k p{
    font-size: 1rem;
    
}



main{
    height: 100%;
    min-height: 76vh;
}

footer{
    display: flex;
    justify-content:baseline;
}